<%= form_for(@tile, url: grid_tiles_path(@grid_id)) do |f| %>
  <% if @tile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tile.errors.count, "error") %> prohibited this tile from being saved:</h2>

      <ul>
      <% @tile.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="description">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :content_type %><br />
    <%= f.select :content_type, ['text', 'image', 'youtube']%>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_field :content %>
  </div>
  <div class="field">
    <%= f.hidden_field :grid_id, value: @grid_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
