<h1>Listing tiles</h1>

<table>
  <tr>
    <th>Type</th>
    <th>Content</th>
    <th>Grid</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tiles.each do |tile| %>
  <tr>
    <td><%= tile.type %></td>
    <td><%= tile.content %></td>
    <td><%= tile.grid_id %></td>
    <td><%= link_to 'Show', tile %></td>
    <td><%= link_to 'Edit', edit_tile_path(tile) %></td>
    <td><%= link_to 'Destroy', tile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tile', new_tile_path %>
